/* ==UserStyle==
@name           ChatGPT with wider sidebar
@description    Widen sidebar
@match          https://chat.openai.com/chat*
@downloadURL    https://raw.githubusercontent.com/danyalaytekin/some-userscripts/main/chatgpt-with-wider-sidebar.css
@updateURL      https://raw.githubusercontent.com/danyalaytekin/some-userscripts/main/chatgpt-with-wider-sidebar.css
@version        1.0.0
==/UserStyle== */


/* Widen the left sidebar above a viewport width of 768px */
/* ------------------------------------------------------ */

:root {
    --sidebar-width-for-expanded-desktop: 20%;
    --sidebar-original-desktop-width: 260px;
}

@media (min-width: 768px) {
    #__next > * > .hidden {
        width: var(--sidebar-width-for-expanded-desktop);
        min-width: var(--sidebar-original-desktop-width);
    }
}
